altair==4.1.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1616843134209/work
certifi==2020.12.5
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cycler==0.10.0
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1617520196422/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
importlib-metadata @ file:///D:/bld/importlib-metadata_1617116968046/work
ipykernel @ file:///D:/bld/ipykernel_1617137456305/work/dist/ipykernel-5.5.3-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1616837006048/work
ipython-genutils==0.2.0
jedi @ file:///D:/bld/jedi_1610147001629/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///D:/bld/jupyter_core_1612125412016/work
kiwisolver @ file:///D:/bld/kiwisolver_1610099953470/work
MarkupSafe @ file:///D:/bld/markupsafe_1610127684851/work
matplotlib @ file:///D:/bld/matplotlib-suite_1617212922200/work
nbformat==5.1.3
numpy @ file:///D:/bld/numpy_1616933442622/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
pandas @ file:///D:/bld/pandas_1614698100826/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
patsy==0.5.1
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1615244127530/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1610471242275/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1616432837031/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1615243893546/work
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///D:/bld/pyrsistent_1610147004555/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pywin32==300
pyzmq @ file:///D:/bld/pyzmq_1614611981521/work
retrying==1.3.3
scipy @ file:///C:/bld/scipy_1616878861420/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1611834504644/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
statsmodels @ file:///D:/bld/statsmodels_1612273747431/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///D:/bld/tornado_1610094910414/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
vega-datasets @ file:///home/conda/feedstock_root/build_artifacts/vega_datasets_1606414058616/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
wincertstore==0.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1614945704755/work
